.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-color);
}

.title-intro {
  color: var(--secondary-color);
}

.title-intro span {
  font-size: 3.5rem;
  font-weight: 400;
}

.title-intro h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  line-height: 1.3;
}

.sub-title-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.box {
  width: 490px;
  height: 40px;
  background-color: var(--third-color);
  position: absolute;
  border-radius: 3px;
}

.sub-title {
  color: var(--secondary-color);
  font-size: 1.6rem;
  position: relative;
  padding-left: 10px;
}

/* RESPONSIVE */

@media (max-width: 700px) {
  .title-intro h1 {
    font-size: 3rem;
  }
  .title-intro span {
    font-size: 2.5rem;
  }
  .box {
    width: 365px;
    height: 30px;
  }
  .sub-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .title-intro {
    padding: 10px;
  }
  .title-intro h1 {
    letter-spacing: 0;
    font-size: 2rem;
  }
  .title-intro span {
    font-size: 2rem;
  }
  .box {
    left: 0;
    width: 50px;
    height: 20px;
    position: initial;
  }
}
